
body {
  font-family: "Century Gothic", Futura, serif;
}

input {
  font-family: "Century Gothic", Futura, serif;
  text-align: center;
  margin: 20px 15px 0px 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tic-tac-toe {
  text-align: center;
}

.tic-tac-toe .button {
  background-color: #8E44AD;
  border-radius: 10px;
  color: white;
  border-style: hidden;
  height: 60px;
  width: 130px;
  font-size: 18px;
}

.bg {
  animation: App-logo-spin infinite 20s linear;
  background-image: url("./assets/logo_react_bg.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 150%;
  height: 150%;
  position: absolute;
  transform-origin: bottom 55% right 55%;
  z-index: -1;
}

.game-header {
  font-size: 40px;
  margin: 0px;
}

.board-size {
  font-size: 30px;
}

.game-setup .size-box {
  font-size: 30px;
  width: 50px;
  height: 50px;
}

.game {
  display: flex;
  font-size: 25px;
  justify-content: center;
}

@keyframes square-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.square {
  animation: square-fadein 0.3s;
  background: #82E0AA;
  border: 0.5px solid #45B39D;
  border-radius: 10px;
  float: left;
  height: 200px;
  padding: 0;
  margin: 10px;
  width: 200px;
}

@keyframes marker-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.marker {
  margin: 30px;
  animation: marker-fadein 0.5s;
}

