
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tic-tac-toe {
  animation: fadein 0.5s;
  text-align: center;
}

.tic-tac-toe .button {
  background-color: #8E44AD;
  border-radius: 10px;
  color: white;
  border-style: hidden;
  height: 50px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
}

.tic-tac-toe .button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
}

.bg {
  animation: App-logo-spin infinite 20s linear;
  background-image: url("./assets/logo_react_bg.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 130%;
  height: 130%;
  max-width: 900px;
  max-height: 1200px;
  position: absolute;
  z-index: -1;
}

.game-header {
  font-size: 20px;
  margin-top: 50px;
}

.game-setup .size-box {
  font-size: 30px;
  width: 50px;
  height: 50px;
}

.game {
  display: flex;
  font-size: 16px;
  justify-content: center;
}

.square {
  animation: fadein 0.5s;
  background: #82E0AA;
  border: 0.5px solid #45B39D;
  border-radius: 10px;
  float: left;
  height: 120px;
  padding: 0;
  margin: 6px;
  width: 120px;
  cursor: pointer;
}

.square:hover {
  transform: scale(1.1);
}

.marker {
  margin: 25px;
  animation: fadein 0.5s;
}

