/* Notes:
https://css-tricks.com/considerations-styling-modal/
*/

.modal {
  font-family: "Century Gothic", Futura, sans-serif;
  background-color: #fff;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 500px;
  height: 300px;
  position: fixed;
  text-align: center;
}

.modal-info {
  color: black;
  font-size: 40px;
  margin: 10% 0 0 0;
}

.modal-guts {
  font-size: 40px;
  margin: 0 0 5% 0;
}

.reset-modal-guts {
  font-size: 40px;
  margin: 15%;
}

.one-more-modal-guts {
  font-size: 40px;
  margin: 15% auto;
}


.modal .marker {
  width: 100px;
  height: 100px;
}

.modal .marker:hover {
  transform: scale(1.2);
}

.modal .marker-selected {
}

.modal .button {
  /* inherit from TicTacToe.css */
}


.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50;
}

